.account-manage {
  display: flex;
  height: 100%;

  .left-card {
    width: 200px;
    margin-right: 5px;
  }

  .right-card {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    .search-container {
      margin-bottom: 25px;
    }
    // .table-container {
    //   display: flex;
    //   flex: 1;
    //   flex-direction: column;
    //   height: 100%;

      .table-content {
        flex: 1;
        margin-top: 10px;
      }

      .table-pagination {
        justify-content: right;
        margin-top: 16px;
      }
    // }
  }
}